.contact {
  height: 555px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
@media screen and (min-width: 808px) {

  .container {
    .contact-description {
      height: 100%;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      text-align: justify;
      z-index: 2;

      h1 {
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 90px;
        text-align: center;
        text-transform: uppercase;
        color: #000A20;

      }

      h2 {
        font-family: "Raleway", sans-serif;
        color: #022E6B;
        font-weight: 500;
        font-size: 38px;
        margin-bottom: 40px;

      }

      h3 {
        font-weight: 500;
        font-size: 38px;
        margin-bottom: 40px;
        a {
          color: #022E6B;
          text-decoration: none;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 1px;
        width: 450px;
        text-align: justify;
        font-weight: 300;
        word-spacing: 0.5px;
        color: black;
      }
    }
  }
}



.col-2-layout {

  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 808px) {
  .contact-description {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: justify;

    h1 {
      padding-top: 50px;
      margin-bottom: 20px;
      font-weight: 200;
      font-size: 90px;
      text-align: center;
      text-transform: uppercase;
      color: #000A20;

    }

    h2 {
      font-family: "Raleway", sans-serif;
      color: #022E6B;
      font-weight: 500;
      font-size: 38px;
      margin-bottom: 40px;

    }

    h3 {
      font-weight: 500;
      font-size: 38px;
      margin-bottom: 40px;
      a {
        color: #022E6B;
        text-decoration: none;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-weight: 300;
      word-spacing: 0.5px;
      color: black;
    }
  }






  form {

    display: flex;
    flex-direction: column;
    .form-group-one, .copyright {
      width: 80%;
      padding: 10px 10px;


    }
    .form-group-two {
      width: 80.00%;
      padding: 10px 10px;

    }
  }
  .submit-button {
    font-size: 20px;
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    padding: 15px 0;
  }
}


form {

  display: flex;
}


.form-group-one, .copyright {
  width: 40.00%;
}

.form-group-two {
  width: 40.00%;
  padding: 0 50px;

}

.form-image {
  width: 300px;
  height: 200px;

}
.section-contact img:first-child {
  padding-bottom: 40px;
}

.section-contact img:nth-child(2) {
  float:left;
  border: 1px solid #022E6B;
  padding: 2px;
  margin-right: 5px;
}

.section-contact h2 {
  text-transform: uppercase;
  color: gray;
  font-size: 22px;
  font-weight: 500;
}

.section-contact {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 40px;
}

.section-contact .line-decor {
  height: 8px;
  width: 320px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.form-control {
  font-size: 30px;
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #022E6B;
  margin-bottom: 25px;

}

.form-control::placeholder {
  color: #c2c2c2;
}

.section-contact img:first-child {
  display: block;
  margin: 0 auto;
}

.checkbox_2 {
  position: relative;


}

.checkbox_2 label {
  display: block;
  font-size: 20px;
  padding-left: 65px;
}

.checkbox_2 input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}


.checkbox_2 label::before, .checkbox_2 label::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #022E6B;
  position: absolute;
  top: 0;
  left: 0;
}


.checkbox_2 label::after {
  background: url("../img/checkmark.png") no-repeat center;
  background-size: 80% 80%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.checkbox_2 input:checked + label::after {
  display: block;
}

.section-contact button {
  display: block;
  text-transform: uppercase;
  color: white;
  background-color: #022E6B;
  font-size: 30px;
  width: 50%;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px 0;
}

textarea {
  height: 232px;
  resize: none;
}


.error-message {
  color : #ed2553;
}

.success-message {
  color: #3D9970;
}



.hidden {
  display: none;
}