.site-footer {
  height: auto;
  width: auto;
  background-color: #022E6B;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;

  @media screen and (max-width: 788px) {

    .col-3-layout {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-around;
      padding-left: 20px;
      .copyrights {
        font-size: 10px;
        font-weight: 300;
      }
    }
  }

  @media screen and (min-width: 788px) {

    .col-3-layout {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .copyrights {
        font-size: 10px;
        font-weight: 300;
      }
    }
  }

}


a {
  padding-top: 10px;
  display: flex;
  text-decoration: none;
  color: whitesmoke;

  img {
    padding-left: 15px;

  }
}

.adres {
  padding: 10px 0;
}


.like {
  text-decoration: none;
  color: whitesmoke;
}
.logo-img{
  height: 50px;
  width: 60px;
  padding-left: 25px;
}