.page-header {
  font-family: "Raleway", sans-serif;
  background: #022E6B;
  padding: 14px 0;
  font-weight: 300;
  font-size: 14px;
  height: 40px;
}

.page-header__box {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  & a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.logo-box {
  display: inline-block;
  font-size: 16px;


}

.menu {
  text-align: right;
  & li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;


    }
    & a {
      font-weight: 400;
      font-size: 14px;
      padding-left: 35px;



      & span {
        font-weight: 400;

        &:hover {
          background-color: lightGray;
          color: #022E6B;

        }
    }
  }
}

.submenu {
  display: none;
  position:absolute;
  background-color: #022E6B;
  width:160px;
  z-index:1;
  top: 40px;
  text-align: left;
  font-weight: 300;

  & a {
    margin:0;
    text-transform: none;
    padding: 0 3px;
  }
  & li {
    padding: 5px 0;
    list-style-type: none;
    display: block;
    &:hover {
      background-color: lightGray;
      & a {
        color: #022E6B;
      }
    }
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #022E6B;
    position: absolute;
    top: -10px;
    right: 60px;
  }
}

.submenu.show {
  display: block;
}

