
/*-----------------------------------------
Site Product
----------------------------------------------------- */

.site-products {
  padding-top: 45px;
}

.grid2x2 {
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .box {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;

    div {
      position: relative;
      width: 100%;
      bottom: 120px;
      z-index: 2;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.5);
      filter: alpha(opacity=50);
      font-weight: 600;

      span {

        display: inline-block;
        position: relative;
        top: 20px;
        left: 20px;
        border-bottom: #022E6B solid 8px;
      }
    }
    @media screen and (min-width: 465px) {
      img {

        height: 300px;
        width: 465px;
      }
    }
    @media screen and (max-width: 465px) {
      img {

        height: 200px;
        width: 300px;
      }
    }

  }
}












